<div
  *ngIf="!isSignupCompleted; else signupSuccessful"
  class="pt-10 flex flex-col justify-center items-center"
>
  <h1 class="text-4xl text-white" style="font: 200 32px Impact, fantasy">KraGaPa 3.0</h1>
  <p class="text-white text-center pt-4 px-6">Anmeldungen sind bis zum 16.07.2022 möglich.</p>
  <form
    class="z-20 p-6 w-full flex flex-col justify-center items-center"
    [formGroup]="signUpForm"
    (submit)="onSubmitForm()"
  >
    <mat-form-field>
      <mat-label for="firstName">Vorname:</mat-label>
      <input matInput id="firstName" type="text" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="lastName">Nachname:</mat-label>
      <input
        matInput
        id="lastName"
        type="text"
        formControlName="lastName"
        (change)="(isNameValid)"
      />
      <mat-error *ngIf="signUpForm.invalid">{{ isNameValid }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="foodType">Was für Essen bringst du?</mat-label>
      <mat-select
        (valueChange)="onSelectMealType($event)"
        formControlName="foodType"
      >
        <mat-option value="Salat">Salat / Beilage</mat-option>
        <mat-option value="Dessert">Dessert</mat-option>
        <mat-option value="Nichts">Ich bin faul und bringe nichts</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="bringsMeal">
      <mat-label for="meal">Was bringst du genau?</mat-label>
      <input matInput id="meal" type="text" formControlName="meal" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="favoriteDrink">Lieblingsgetränk:</mat-label>
      <input
        matInput
        id="favoriteDrink"
        type="text"
        formControlName="favoriteDrink"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="invitedBy">Wer hat dich eingeladen?</mat-label>
      <mat-select
        (valueChange)="onSelectPerson($event)"
        formControlName="invitedBy"
      >
        <mat-option value="Karin">Karin</mat-option>
        <mat-option value="Nadia">Nadia</mat-option>
        <mat-option value="Nathalie">Nathalie</mat-option>
        <mat-option value="Sheila">Sheila</mat-option>
        <mat-option value="Andere">Andere Person</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isOtherPerson">
      <mat-label for="otherPerson">Erzählst du uns auch wer?</mat-label>
      <input
        matInput
        id="otherPerson"
        type="text"
        formControlName="otherPerson"
      />
    </mat-form-field>

    <button mat-flat-button>Anmelden!</button>
  </form>
</div>

<ng-template #signupSuccessful>
  <h2 @fadeInOut class="pt-48 text-4xl text-white text-center">
    Du bist angemeldet!
  </h2>
  <h4 @fadeInOut class="pt-8 text-2xl text-white text-center">
    Wir freuen uns auf dich
  </h4>
  <app-fireworks></app-fireworks>
</ng-template>
