<div class="flex justify-center h-screen">
  <div class="sign-box">
    <img
      *ngIf="isDisplayed"
      @fadeInOut
      class="z-20"
      src="../../../../assets/Sign.svg"
      alt="Sign"
      width="75%"
    />
    <div
      class="absolute text-rose-500 top-0 mt-4 ml-4 text-box"
      style="width: 70%; transition: opacity 2s;"
      [ngClass]="{'opacity-0': !isTextDisplayed}">
      <p>Standort: <a class="underline text-rose-900" target="_blank" href="https://www.google.com/maps/place/47%C2%B028'25.5%22N+7%C2%B040'28.8%22E/@47.4737525,7.6735551,356m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0xde6894ca45ddd94e!8m2!3d47.4737525!4d7.6746724!5m1!1e4">hier</a></p>
      <p>Kosten: CHF 25.-</p>
      <p>Zeit: 17:00 Uhr</p>
      <p>Übernachtung vor Ort möglich, bitte kontaktiere uns bei Interesse.</p>
    </div>
  </div>
  <button
    class="navigate-button left bg-rose-50 text-rose-400 p-2 rounded-lg absolute bottom-4 left-4 z-50"
    (click)="onNavigateForward()"
  >
    Anmelden
  </button>
</div>
