@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  @apply w-full;
}

form {
  mat-label,
  mat-form-field,
  mat-select,
  mat-option,
  .mat-form-field-required-marker {
    color: white;

    &.mat-focused {
      color: white !important;
    }
  }

  .mat-select-value {
    color: white !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
  }

  .mat-select-arrow {
    color: white;
  }
}

.navigate-button {
  border-radius: 2px 0 0 2px;
  margin-left: 1rem;

  &.right::after {
    @apply text-rose-50;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 2em solid;
    right: -2em;
  }

  &.left::after {
    @apply text-rose-50;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 2em solid;
    left: -2em;
  }

  &:before {
    color: #4c2200;
    content: ".";
    position: absolute;
    top: 50%;
    margin-top: 18px;
    left: 2rem;
    border-left: 1em solid;
  }
}
