@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  @apply w-full;
}

form {
  mat-label,
  mat-form-field,
  mat-select,
  mat-option,
  .mat-form-field-required-marker {
    color: white;

    &.mat-focused {
      color: white !important;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
  }

  .mat-select-arrow {
    color: white;
  }
}
